body {
    background-color: black;
    font-family: 'Arial', sans-serif;
    color: #495057;
}

.container {
    max-width: 800px;
    margin-top: 50px;
    padding: 30px;
}

.card {
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

h1 {
    text-align: center;
    color: #007bff;
    font-size: 36px;
    margin-bottom: 30px;
}

h4 {
    color: #343a40;
    margin-bottom: 20px;
}

.todo-list {
    list-style: none;
    padding-left: 0;
}

.todo-list li {
    background-color: #ffffff;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease;
}

.todo-list li:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.todo-list li.completed .task {
    text-decoration: line-through;
    color: #6c757d;
}

.todo-list li.completed .status {
    color: #28a745;
    /* Green color for completed tasks */
}

.todo-list li.pending .status {
    color: #fd7e14;
    /* Orange color for pending tasks */
}

.todo-list li .task {
    font-size: 16px;
    font-weight: 500;
    color: #495057;
    flex-grow: 1;
    padding-right: 20px;
}

.todo-list li button {
    margin-left: 10px;
    font-size: 14px;
    transition: all 0.3s ease;
}

.todo-list li button:hover {
    transform: scale(1.1);
}

.btn-custom {
    background-color: #007bff;
    color: #ffffff;
    border-radius: 30px;
    padding: 8px 20px;
    font-size: 16px;
    border: none;
    transition: background-color 0.3s;
}

.btn-custom:hover {
    background-color: #0056b3;
}

.btn-danger-custom {
    background-color: #dc3545;
    color: #ffffff;
    border-radius: 30px;
    padding: 8px 20px;
    font-size: 16px;
    border: none;
    transition: background-color 0.3s;
}

.btn-danger-custom:hover {
    background-color: #c82333;
}

.btn-success {
    background-color: #28a745;
    color: white;
}

.btn-success:hover {
    color: black;
}


.btn-danger:hover {
    color: black;
}

.btn-warning {
    background-color: #ffc107;
    color: white;
}

.logout-btn {
    float: right;
}

.todo-input {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.todo-input input {
    border-radius: 30px;
    padding: 10px;
    border: 1px solid #ccc;
    margin-right: 10px;
    font-size: 16px;
    width: 100%;
}

.todo-input button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border-radius: 30px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.todo-input button:hover {
    background-color: #0056b3;
}